<br>
<div class="container mt-3">
  <div class="background">
    <div class="table-responsive">
        <div *ngIf="selectedId == 0" class="container">
            <table class="m-3 table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col ">Nr</th>
                        <th scope="col ">Titel</th>
                        <th scope="col ">Beschreibung</th>
                        <th scope="col ">Genre</th>
                        <th scope="col ">Kategorie</th>
                        <th scope="col ">Was</th>
                        <th scope="col ">Status</th>
                        <th scope="col ">Bewertung</th>
                        <th scope="col ">Edit</th>
                        <th scope="col ">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inhalt of inhalte; let i=index;  trackBy: trackByInhalt">
                        <td>{{ i+1 }}</td>
                        <td>{{inhalt.titel}}</td>
                        <td>{{inhalt.beschreibung}}</td>
                        <td>{{inhalt.genre}}</td>
                        <td>{{inhalt.kategorie}}</td>
                        <td>{{inhalt.was}}</td>
                        <td>{{inhalt.status}}</td>
                        <td>{{inhalt.bewertung}}</td>
                        <td><a [routerLink]="['/tabelle/', inhalt.id]">
                            <i-bs
                            name="pencil-square"
                            class="text-secondary"
                            width="1em"
                            height="1em">
                        </i-bs></a></td>
                        <td><i-bs
                            name="trash"
                            class="text-secondary"
                            width="1em"
                            height="1em"
                            (click)="open(content, inhalt.id)">
                          </i-bs></td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
        <div *ngIf="selectedId > 0" class="container">
          <br>
            <h3>Inhalt mit der Id: {{ selectedId }} aktualisieren</h3>
            <div *ngIf="error">
                <p>{{ error?.message }}</p>
                <p>{{ error?.status }}</p>
                <p><a [routerLink]="['/tabelle']">Zurück zur Tabelle</a></p>
            </div>
          <div *ngIf="inhalt">
            <app-form [inhalt]="inhalt" (updateEvent)="update($event)"></app-form>
          </div>
        </div>
    </div>
    <!-- modaler Dialog fuer das Loeschen -->

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Löschen bestätigen</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h4 style="color: #d34313">Möchtest du diesen Inhalt wirklich löschen?</h4>
      <form [formGroup]="form">
        <div class="form-group">
          <label for="inpId">id</label>
          <div class="input-group">
            <input id="inpId" class="form-control" formControlName="iControl" value="{{ inhalt?.id }}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inpTT">titel</label>
          <div class="input-group">
            <input id="inpTT" class="form-control" formControlName="ttControl" value="{{ inhalt?.titel }}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inpBes">beschreibung</label>
          <div class="input-group">
            <input id="inpBes" class="form-control" formControlName="beschControl" value="{{ inhalt?.beschreibung }}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label for="inpGen">genre</label>
          <div class="input-group">
            <input id="inpGen" class="form-control" formControlName="genControl" value="{{ inhalt?.genre }}" readonly>
          </div>
        </div>
        <div class="form-group">
            <label for="inpKat">Kategorie</label>
            <div class="input-group">
              <input id="inpKat" class="form-control" formControlName="katControl" value="{{ inhalt?.kategorie }}" readonly>
            </div>
          </div>
        <div class="form-group">
            <label for="inpW">was</label>
            <div class="input-group">
              <input id="inpW" class="form-control" formControlName="wControl" value="{{ inhalt?.was }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="inpST">status</label>
            <div class="input-group">
              <input id="inpST" class="form-control" formControlName="stControl" value="{{ inhalt?.status }}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label for="inpBew">bewertung</label>
            <div class="input-group">
              <input id="inpBew" class="form-control" formControlName="bewControl" value="{{ inhalt?.bewertung }}" readonly>
            </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="abbrechen">
        <button type="button" (click)="modal.close('cancel')">Abbrechen</button>
      </button>
      <br>
      <button class="bestätigen">
        <button type="button" (click)="modal.close('delete')">Löschen</button>
      </button>
    </div>
  </ng-template>
</div>
<br>
<br>
<br>

  