<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <br>
  <div class="form-group row">
      <label for="staticId" class="col-sm-2 col-form-label">id</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" formControlName="idControl" id="staticId" readonly>
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputTitel" class="col-sm-2 col-form-label">Titel</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="titelControl" id="inputTitel">
      </div>
    </div>
  <br>
    <div class="form-group row">
      <label for="inputBeschreibung" class="col-sm-2 col-form-label">Beschreibung</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="beschreibungControl" id="inputBeschreibung">
      </div>
    </div>
    <br>
    <div class="form-group row">
      <label for="inputGenre" class="col-sm-2 col-form-label">Genre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="genreControl" id="inputGenre">
      </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="inputKategorie" class="col-sm-2 col-form-label">Kategorie</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="kategorieControl" id="inputKategorie">
        </div>
      </div>
      <br>
    <div class="form-group row">
        <label for="inputWas" class="col-sm-2 col-form-label">Was</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="wasControl" id="inputWas">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputStatus" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="statusControl" id="inputStatus">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="inputBewertung" class="col-sm-2 col-form-label">Bewertung</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" formControlName="bewertungControl" id="inputBewrtung">
        </div>
      </div>
      <br>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="rise">
          <button type="submit" (click)="onSubmit()">Update &raquo;</button>
        </button>
      </div>
      <br>
        <div class="col-sm-6">
          <button class="abbrechen">
            <button type="cancel" (click)="cancel()">Abbrechen &raquo;</button>
        </button>
      </div>
      </div>
      <br>
      <br>
      <br>
</form>